{% extends 'base.html' %}
{% block body %}
  

    <div class="container my-4">
        <form action="/" method="POST">
            <h1>Register/Sign </h1>
            <div class="mb-3">
              <label for="title" class="form-label">To Do Title</label>
              <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
             
            <div class="mb-3 my-2">
              <label for="desc" class="form-label">To Do Descripton</label>
              <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

    </div>
    <div class="container my-4">
        <h1>My Todo</h1>
        {% if alltodo|length==0 %}
        <div class="alert alert-secondary" role="alert">
         No Record Fond. Please add your first ToDo.
        </div>
        {% else %}
        <table class="table table-striped">
        
         
            
         
            <thead>
              <tr>
                <th scope="col">SNo.</th>
                <th scope="col">Title</th>
                <th scope="col">Desc</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for todo in alltodo  %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date}}</td>
                <td>
                  <a type="button" href="/update/{{todo.sno}}" class="btn btn-info btn-sm mx-1">Update</button>
                  <a type="button" href="/delete/{{todo.sno}}" class="btn btn-secondary btn-sm mx-1">Delete</button>
                </td>
           </tr>
              {% endfor %}
             
             
            </tbody>
          </table> 
       {% endif %}
    </div>
    {% endblock body %}