{% extends 'base.html' %}
{% block body %}
  

    <div class="container my-4">
        <form action="/update/{{todo.sno}}" method="POST">
            <h1>Update  MyTodo</h1>
            <div class="mb-3">
              <label for="title" class="form-label">To Do Title</label>
              <input type="text" class="form-control" value={{todo.title}} name="title" id="title" aria-describedby="emailHelp">
             
            <div class="mb-3 my-2">
              <label for="desc" class="form-label">To Do Descripton</label>
              <input type="text" class="form-control" value={{todo.desc}} name="desc" id="desc">
            </div>
            
            <button type="submit" class="btn btn-primary">Update</button>
          </form>

    </div>
   
    {% endblock body %}